@mixin padding-x($size) {
    padding-inline-start: $size;
    padding-inline-end: $size;
}

@mixin main-padding-x() {
    @include padding-x(20px);
}

@mixin sub-header() {
    @include main-padding-x();
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--bg-3);
    font-size: 14px;
}

@mixin form-page() {
    .header {
        @include sub-header();
    }

    .main {
        @include main-padding-x();

        form {
            display: flex;
            flex-direction: column;
            width: 800px;

            label {
                padding-top: 10px;
            }

            textarea {
                height: 200px;
                resize: none;
            }

            .actions {
                padding-top: 16px;
                display: flex;
                justify-content: space-between;
            }

            button {
                width: 70px;
            }
        }
    }
}

@mixin button-bg($normal, $hovered, $pressed) {
    background-color: $normal;
    &:hover {
        background-color: $hovered;
    }
    &:active {
        background-color: $pressed;
    }
}

@mixin button-bg-3() {
    @include button-bg(var(--bg-3), var(--bg-3-hovered), var(--bg-3-pressed));
}

@mixin ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin title-1() {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 6px;
    color: var(--text-subtle);
}
