@mixin padding-x($size) {
    padding-inline-start: $size;
    padding-inline-end: $size;
}

@mixin main-padding-x() {
    @include padding-x(20px);
}

@mixin sub-header() {
    @include main-padding-x();
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--bg-3);
    font-size: 14px;
}

@mixin form-page() {
    .header {
        @include sub-header();
    }

    .main {
        @include main-padding-x();

        form {
            display: flex;
            flex-direction: column;
            width: 800px;

            label {
                padding-top: 10px;
            }

            textarea {
                height: 200px;
                resize: none;
            }

            .actions {
                padding-top: 16px;
                display: flex;
                justify-content: space-between;
            }

            button {
                width: 70px;
            }
        }
    }
}

@mixin btn-bg-nopress($normal, $hovered) {
    background-color: $normal;
    &:hover {
        background-color: $hovered;
    }
}

@mixin btn-bg($normal, $hovered, $pressed) {
    @include btn-bg-nopress($normal, $hovered);

    &:active {
        background-color: $pressed;
    }
}

@mixin btn-bg-3() {
    @include btn-bg(var(--bg-3), var(--bg-3-hovered), var(--bg-3-pressed));
}

@mixin btn-bg-3-nopress() {
    @include btn-bg-nopress(var(--bg-3), var(--bg-3-hovered));
}

@mixin btn-primary-bg() {
    @include btn-bg(
        var(--bg-btn-primary),
        var(--bg-btn-primary-hovered),
        var(--bg-btn-primary-pressed)
    );
}

@mixin btn-icon-round-bg() {
    @include btn-bg(
        var(--bg-btn-icon-round),
        var(--bg-btn-icon-round-hovered),
        var(--bg-btn-icon-round-pressed)
    );
}

@mixin ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin title-1() {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 6px;
    color: var(--text-subtle);
}

@mixin btn() {
    border: none;
    padding: 8px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
}

@mixin btn-primary() {
    @include btn();
    @include btn-primary-bg();
    color: var(--text-inverse);
}

@mixin btn-icon-round() {
    @include btn-icon-round-bg();
    border: none;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        font-size: 18px;
        line-height: 18px;
    }
}

@mixin entity-preview-grid() {
    display: grid;
    grid-template-rows: minmax(auto, 36px);
    align-items: center;
    padding-inline-start: 12px;
}

@mixin bug-preview-grid() {
    @include entity-preview-grid();
    grid-template-columns:
        100px minmax(50px, 150px) minmax(100px, 300px) minmax(100px, 200px)
        minmax(100px, 1fr) auto;
}

@mixin user-preview-grid() {
    @include entity-preview-grid();
    grid-template-columns: 200px 300px 1fr;
}

@mixin flex-center-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
