:root {
    --bg-1: #ffffff;
    --bg-2: #606470;
    --bg-3: #edf2f2;
    --bg-3-hovered: #dee6e6;
    --bg-3-pressed: #c8cfcf;

    --bg-4: #bdf5ff;

    --bg-5: #e2e4d4;

    --bg-btn-1: #a1a1a1;
    --bg-btn-1-hovered: #737373;

    --bg-btn-primary: #357ecc;
    --bg-btn-primary-hovered: #2567ad;
    --bg-btn-primary-pressed: #16467a;

    --bg-btn-secondary: #e2e2e2;
    --bg-btn-secondary-hovered: #c2c2c2;
    --bg-btn-secondary-pressed: #a4a4a4;

    --bg-btn-icon-round: transparent;
    --bg-btn-icon-round-hovered: #0000000f;
    --bg-btn-icon-round-pressed: #0000001f;

    --overlay-light-1: #ffffff40;
    --overlay-light-2: #ffffff80;

    --text: #000000;
    --text-subtle: #747474;
    --text-inverse: #ffffff;
    --text-error: #d93025;

    --bg-success-msg: #93d8c8;
    --bg-error-msg: #d893a1;
}
