* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

a {
    text-decoration: underline;
    cursor: pointer;

    color: #608bbb;

    &:hover {
        color: #3d628d;
    }
}

a.inverse {
    color: #b3cfee;

    &:hover {
        color: #7aaae1;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--bg-2);
    height: 20px;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.app-main {
    overflow: hidden;
}
