.btn-primary {
    @include btn-primary();
}

.btn-secondary {
    @include btn-secondary();
}

.btn-icon-round {
    @include btn-icon-round();
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;

    &.full {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
}

.entity-filter-or-sort {
    background-color: var(--bg-5);
    padding: 6px;
    display: flex;
    gap: 12px;

    .field {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        label {
            font-size: 14px;
            margin-inline-end: 6px;
        }
    }
}

.entity-index {
    height: 100%;
    overflow: hidden;
    @include main-padding-x();
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.main-padding-x {
    @include main-padding-x();
}

.error-msg {
    color: var(--text-error);
    font-size: 12px;
}
