.page-nav {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.page-idx {
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    @include btn-bg-nopress(
        var(--bg-btn-secondary),
        var(--bg-btn-secondary-hovered)
    );
}

.page-idx.current {
    background-color: var(--bg-2);
    color: var(--text-inverse);
}
