.user-msg {
    background-color: var(--bg-3);
    padding: 10px 20px;
    position: fixed;
    bottom: 30px;
    right: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;

    &.success {
        background-color: var(--bg-success-msg);
    }

    &.error {
        background-color: var(--bg-error-msg);
    }
}
