.app-header {
    background-color: var(--bg-2);
    width: 100%;

    .header-container {
        height: var(--app-header-height);
        display: flex;
        justify-content: space-between;
    }

    .app-nav {
        display: flex;
    }

    .navlink {
        @include padding-x(16px);
        color: var(--text-inverse);
        text-decoration: none;
        @include flex-center-center();

        &:hover {
            background-color: var(--overlay-light-1);
        }

        &.active {
            background-color: var(--overlay-light-2);
            font-weight: 700;
            color: var(--text);
        }
    }

    .login-signup-container {
        display: flex;

        .signup-link {
            @include btn-primary-bg();
        }
    }

    .logout-container {
        @include padding-x(16px);
        display: flex;
        align-items: center;
        gap: 12px;

        .loggedin-user {
            color: var(--text-inverse);
        }
    }
}
