.bug-filter {
    background-color: var(--bg-5);
    padding: 6px;
    display: flex;
    gap: 12px;

    .field {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        label {
            font-size: 14px;
            margin-inline-end: 6px;
        }
    }
}
