.bug-preview {
    @include bug-preview-grid();
    @include btn-bg-3-nopress();

    .severity {
        grid-area: 1 / 1;
        padding-inline-end: 6px;
    }

    .created-at {
        grid-area: 1 / 2;
        font-size: 12px;
        @include ellipsis();
        padding-inline-end: 6px;
    }

    .created-by {
        grid-area: 1 / 3;
        @include ellipsis();
        padding-inline-end: 6px;
    }

    .title {
        grid-area: 1 / 4;
        @include ellipsis();
        padding-inline-end: 6px;
    }

    .labels {
        grid-area: 1 / 5;
        @include ellipsis();
        padding-inline-end: 6px;

        display: flex;
        align-items: center;
        gap: 3px;

        .label {
            border-radius: 2px;
            font-size: 13px;
            padding: 0 3px;
            background-color: var(--bg-4);
        }
    }

    .description {
        grid-area: 1 / 6;
        @include ellipsis();
        padding-inline-end: 6px;
    }

    .actions {
        grid-area: 1 / 7;
        justify-self: end;
        gap: 2px;
        padding-inline-end: 12px;
        display: none;
        z-index: 2;
    }

    &:hover .actions {
        display: flex;
    }

    a {
        grid-area: 1 / 1 / span 1 / -1;
        height: 100%;
    }
}
