.bug-details {
    .header {
        @include main-padding-x();
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--bg-3);
        font-size: 14px;
    }

    .main {
        @include main-padding-x();
        padding-top: 20px;
        display: grid;
        row-gap: 10px;

        .title {
            font-size: 24px;
        }

        .created-at,
        .severity {
            color: var(--text-subtle);
        }
    }
}
