.bug-details {
    .header {
        @include sub-header();
    }

    .main {
        @include main-padding-x();

        & > .actions {
            padding-top: 30px;
            display: flex;
            gap: 200px;
        }
    }
}
