.bug-comment-edit {
    textarea {
        @include bug-comment-txt();
        margin-bottom: 8px;
    }

    & > .actions {
        display: flex;
        gap: 12px;
        margin-bottom: 16px;
    }
}
