.bug-comment {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    row-gap: 3px;

    .created-by {
        grid-area: 1 / 1;
        font-size: 14px;
        font-weight: bold;
    }

    .created-at {
        grid-area: 1 / 2;
        font-size: 14px;
    }

    .txt {
        grid-area: 2 / 1 / span 1 / -1;
        @include bug-comment-txt();
    }
}
