.user-preview {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 300px 1fr;
    grid-template-rows: minmax(auto, 36px);
    @include button-bg-3();

    .fullname {
        grid-area: 1 / 1;
        padding-inline-start: 12px;
    }

    .username {
        grid-area: 1 / 2;
        padding-inline-start: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .score {
        grid-area: 1 / 3;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .actions {
        grid-area: 1 / 4;
        display: flex;
        gap: 10px;
        padding-inline-end: 12px;
    }

    a {
        grid-area: 1 / 1 / span 1 / -1;
        height: 100%;
    }
}
