.user-list {
    padding: 12px 0 0;

    .header {
        @include user-preview-grid();

        .title {
            @include title-1();
            margin-bottom: 0;
        }
    }

    ul {
        list-style: none;
        display: grid;
        gap: 2px;
    }
}
